html {
    scroll-behavior: smooth;
}

body {
    font-family: Palatino, serif;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.framebox {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.fixed-heading {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 90%; 
    padding-top: 50px;
    margin-bottom: 40px;
    background-color: white;
    z-index:1;
}


.big-heading {
    text-align: center;
    padding-bottom: 10px; 
    border-bottom: 1.5px solid;
    border-color: darkgray;
    width: 1000px;
}

.big-heading span{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    display: block;
    padding-bottom: 20px; 
}

.profile-links {
    display: inline-flex;
}

.profile-links .with-right-margin {
    margin-right: 70px;
    display:inline-block;
}

.profile-links .with-top-padding{
    padding-top: 10px;
}

.profile-links img {
    display:inline-block;
    vertical-align:middle
}

.profile-links a {
    display:inline-block;
    vertical-align:middle;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    letter-spacing: -1px;
}

.navigation{
    overflow: hidden;
    text-align: center;
    width: 1000px;
}

.navigation a {
    /* float: left; */
    color: black;
    text-align: center;
    padding: 12px 23px;
    text-decoration: none;
    font-size: 17px;
    margin: auto;
    transition: 0.3s;
}

.navigation a:hover {
    background-color: lightgrey;
    color: black;
}

.navigation a.active {
    background-color: #04AA6D;
    color: white;
}

.navigation li {
    display: inline;
}

.navigation ul {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
}

.main-content {
    width: 100%; /* Full width */
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.subtitle {
    font-weight: bold;
    font-size: 23px;
}

.intro {
    font-weight: normal;
    line-height: 1.5;
    float: left;
}

.intro a {
    text-decoration: none;
    color: sienna;
}

.intro a:hover {
    color: gray;
}

.myphoto {
    max-width: 100%;
    margin-bottom: 200px
}

.intro-left {
    margin-top: 16px;
    width: 25%;
    float: left;
    height: 360px;
}

.intro-right {
    width: 75%;
    float: right;
    max-width: 100%;
    position: relative;
    height: 360px;
    overflow-x: hidden;
}

.section1 {
    height: 300px;
    display: inline-block;
    margin-top: 160px;
}

.section2 {
    height: 300px;
    width: 100%;
}

.section3 {
    height: 300px;
}

.section4 {
    height: 300px;
}
.sections {
    display: inline-block;
    width: 100%;
    /* padding-left: 60px; */
}

.rightbox {
    padding: 0em 0rem 0em 0em;
    height: 100%;
  }
  

.rb {
    width: 100%;
}

.rb-container {
/* font-family: "PT Sans", sans-serif; */
width: 100%;
margin: auto;
display: block;
position: relative;
}

.rb-container ul.rb {
padding: 0;
display: inline-block;
}

.rb-container ul.rb li {
list-style: none;
margin: auto;
margin-left: 1em;
min-height: 50px;
border-left: 1.5px dashed black;
padding: 0 0 50px 30px;
position: relative;
}

.rb-container ul.rb li:last-child {
border-left: 0;
}

.rb-container ul.rb li::before {
position: absolute;
left: -18px;
top: -5px;
content: " ";
border: 8px solid rgba(255, 255, 255, 1);
border-radius: 500%;
background: #3EBE90;;
height: 20px;
width: 20px;
transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
border-color: lightgray;
transition: all 1000ms ease-in-out;
}

ul.rb li .timestamp {
color: black;;
position: relative;
width: 100%;
font-size: 18px;
line-height: 1.5;
font-weight: bold;
}

.item-title {
color: black;
line-height: 1.5;
}

.pub-links{
margin-left: 7px;
}

.pub-links a {
transition: 0.3s;
padding: 5px;
color: #3EBE90;
/* text-decoration: none; */
}

.pub-links a:hover {
background-color: #3EBE90;
color: white;
}

.authors{
margin-left: 13px;
display:inline-block;
}

.pub-item {
line-height: 1.5;
margin-bottom: 40px;
}

.pub-item a {
margin: 5px;
}

.pub-item li {
font-weight: bold;
font-size: 18px;
}

.pub-item ul {
    list-style-position: outside;
    padding-left: 13px;
    margin: 0;
}

.name-to-bold {
font-weight: bold;
}
